Package: com.megadev.jellylockreborn
Name: JellyLock Reborn
Depends: mobilesubstrate,ws.hbang.common,preferenceloader,ws.hbang.alderis (>= 1.1),com.spark.libsparkapplist
Version: 1.0
Architecture: iphoneos-arm
Description: A beautifully simple lockscreen application launcher for iOS 14.
Maintainer: MegaDev
Author: MegaDev
Section: Tweaks
