<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
	<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>General</string>
		</dict>

        	<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.megadev.jellylockreborn</string>
			<key>key</key>
			<string>blurEnabled</string>
			<key>label</key>
			<string>Blur Background</string>
			<key>PostNotification</key>
			<string>com.megadev.jellylockreborn-PreferencesChanged</string>
		</dict>
    	<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.megadev.jellylockreborn</string>
			<key>key</key>
			<string>hideQuickactions</string>
			<key>label</key>
			<string>Hide QuickActionButtons</string>
			<key>PostNotification</key>
			<string>com.megadev.jellylockreborn-PreferencesChanged</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Grabber Size</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>key</key>
			<string>circleSize</string>
			<key>leftImage</key>
			<string>small_circle.png</string>
			<key>rightImage</key>
			<string>large_circle.png</string>
			<key>defaults</key>
			<string>com.megadev.jellylockreborn</string>
			<key>max</key>
			<integer>90</integer>
			<key>min</key>
			<real>55</real>
			<key>default</key>
			<integer>70</integer>
			<key>PostNotification</key>
			<string>com.megadev.jellylockreborn-PreferencesChanged</string>
		</dict>

	<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Colours</string>
		</dict>

<dict>
    <key>cell</key>
    <string>PSLinkCell</string>
    <key>cellClass</key>
    <string>HBColorPickerTableCell</string>
    <key>defaults</key>
    <string>com.megadev.jellylockreborn</string>
    <key>key</key>
	<string>draggerColor</string>
	<key>fallback</key>
	<string>#ffffff</string>
    <key>default</key>
    <string>#ffffff</string>
    <key>label</key>
    <string>Dragger color</string>
    <key>showAlphaSlider</key>
    <true/>
    <key>PostNotification</key>
    <string>com.megadev.jellylockreborn-PreferencesChanged</string>
</dict>


<dict>
    <key>cell</key>
    <string>PSLinkCell</string>
    <key>cellClass</key>
    <string>HBColorPickerTableCell</string>
    <key>defaults</key>
    <string>com.megadev.jellylockreborn</string>
    <key>key</key>
	<string>bigCircleColor</string>
	<key>fallback</key>
	<string>#ffffff</string>
    <key>default</key>
    <string>#ffffff</string>
    <key>label</key>
    <string>Outer circle color</string>
    <key>showAlphaSlider</key>
    <true/>
    <key>PostNotification</key>
    <string>com.megadev.jellylockreborn-PreferencesChanged</string>
</dict>



	</array>
	<key>title</key>
	<string>Appearance</string>
</dict>
</plist>
